*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1024px;
    margin: 0 auto;
    background-color: antiquewhite;
}
header{
    background-color: black;
    height: 150px;
    width: 100%;
}


h1 {
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: antiquewhite;
    font-size: 24px;
    padding: 10px;
    
}
header h2 {
    color: goldenrod;
    display: block;
    text-transform: capitalize;
    text-align: center;
    padding: 20px;
   
}
img{
    padding: 25px;
    float: left;
    width: 100px;
    height: auto;
    align-self: left;
}
section{
    width: auto;
    background-color: gray;
    padding: 10px;
    
}
h2{
    padding: 10px;
    text-align: center;
  
    color: antiquewhite;
}
p, li {
    font-weight: 900;
    text-align: center;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
li {
    list-style-type: none; 
   }
footer{
    width: auto;
    height: 100px;
    background-color: black;
    color: antiquewhite;
}
footer h3{
    color: goldenrod;
    display: block;
    text-transform: capitalize;
    text-align: center;
    padding: 30px;
}